##### Core scientific packages
jupyter
matplotlib
numpy
pandas
scipy

##### Machine Learning packages
scikit-learn
xgboost
transformers

##### TensorFlow-related packages
tensorflow
tensorflow-serving-api
tensorboard
tensorboard-plugin-profile
tensorflow-datasets
tensorflow-hub
tensorflow-probability

##### Image manipulation
Pillow
graphviz
opencv-python
pyglet

##### Additional utilities
joblib
requests
nbdime
numexpr
nltk
urlextract
ftfy
tqdm
ipywidgets
